@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
:root {
    --color1: #170505; /*Asphalt*/
    --color2: #dc8404; /*Fox Tails*/
    --color3: #fcc87c; /*Beige Topaz*/
    --color4: #6e3b06; /*Philippine Bronze*/
    --color5: #fff; /*White*/
    --sm: 640px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1280px;
    --xxl: 1536px;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Kanit, Verdana, Tahoma, sans-serif;
}

/*Menu*/
header {
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    font-size: calc(1vw, 2rem, 3vw);
    text-shadow: 0 0 30px var(--color2);
    margin: 1% 3%;
    padding: 1% 3%;
}

header a {
    
}

header a:hover {
    background-color: var(--color1);
    color: var(--color2);
    border-radius: 10px;
}

header a {
    text-decoration: none;
    color: var(--color1);
}

header img {
    height: 50%;
    width: 50%;
    text-align: center;
}

nav {
    background-color: var(--color2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: clamp(16px, 8vw, 32px);
    font-family: Orbitron, Verdana, Tahoma, sans-serif;
}

.left-side {
   flex: 2;
}

.right-side {
    flex: 8;
 }

 .logo {
    min-width: 200px;
 }


/*welcome*/
.welcome {
    border: 1px solid var(--color1);
    background-color: var(--color2);
}

.welcome p {
    margin: 5% 20%;
    font-size: 3vw;
}

.video-container {

}

.video-container video {
    width: 100% !important;
    height: auto !important;
}

.content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 20px;
}

.meme-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: var(--color1);
}

.sounds {
    background-color: var(--color1);
    color: var(--color2);
}

.sounds h3 {
    font-weight: 800;
    font-size: xx-large;
    text-align: center;
    padding: 5px;
}

.item-container {
    border-radius: 12px;
    border: 2px solid #000;
    padding: 12px;
    background-color: var(--color3);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.maps {
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    padding: 5%;
    background-color: #000;
    color: #56a3b3;
}

.maps p {
    margin: 10px 10px;
}

.mirage {
    border: 2px solid #8a1d18;
    border-radius: 10px;
    background-color: rgb(37, 150, 190);
}

.dust2 {
    border: 2px solid #d0c8ac;
    border-radius: 10px;
    background-color: #000;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

hr {
    border: 10px solid #dd9100;
    border-radius: 5px;
    margin: 10px 0;
}

.donot {
    overflow: hidden;
    align-items: center;
    background: hsl(50, 100%, 50%);
    color: black;
    height: 2em;
    line-height: 2em;
        
    &:before,
    &:after {
        background-color: white;
        padding: 50px 0;
        height: 0;
        transform: rotate(45deg);
    }
}

.prod-container {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Special Gothic',Verdana, Tahoma, sans-serif;
    margin: 5% 0;
}

.prod-titulo {
    text-align: center;
    margin: 5% 0;
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
    font-size: 5vw;
}

.producto {
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 3%;
}

.img-prod {
    min-width: 100px;
    max-width: 200px;
}

.img-prod img {
    width: 100%;
    height: auto;
}

.tit-prod a {
    color: black;
    text-decoration: none;
}

.tit-prod a:hover {
    color: #3c5bc2;
}

.precio-prod {
    font-weight: 600;
    font-size: x-large;
    margin: 2% 0;
}

.desc-prod {
    color: green;
    font-weight: 200;
}

.cuotas-prod {
    font-weight: 300;
}

.cta-comprar {
    margin: 4% 0;
}

/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #dd9100;
    text-align: center;
    width: 100%;
    font-size: 2.5vw;
    font-weight: 800;
    font-family: Orbitron, Verdana, Tahoma, sans-serif;
    letter-spacing: 0.5rem;
}

footer > div {
    border: 1px black solid;
    flex-grow: 1;
}

.footer-text {
    font-weight: 200;
}


/* Media Queries*/


@media screen and ( width <= 1536px ) {
    nav {
        flex-direction: column;
    }
    .right-side {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}