* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background: #6c63ff;
  padding: 1rem;
  color: white;
  text-align: center;
}

nav {
  margin-top: 10px;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

/* Cards */
.libros-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  padding: 1rem;
  text-align: center;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: contain;
}

/* Contacto */
form {
  max-width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input, textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #999;
}

.btn {
  background: #6c63ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

/* Mensajes */
.error-box {
  color: red;
  margin-top: 10px;
}

.ok-box {
  color: green;
  margin-top: 10px;
}

footer {
  background: #eee;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
